body {
    background-color: gray;
}

p {
    font-family: Arial;
}

ul {
    font-family: Arial;
}

nav {
    font-family: Arial;
    font-size: larger;
}

a:link {
    color: pink;
}

a:visited {
    color: yellow;
}

a:hover {
    color: white;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: small;
    align-self: center;
}

#gallery {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}

.grid_cell {
    align-self: baseline;
}

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 310px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(3, 310px); 
    }
  }

.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

#exhibit {
    width: 300px;
}

@media (min-width: 500px) {
    #exhibit {
        width: 500px;
    }
}






    





